<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css?family=Allerta+Stencil">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<link rel="stylesheet" href="/style.css" type="text/css">
<title>Mines</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class= "header">
	<div class="w3-container w3-center ">
		<a class="gamestudio" href="/">Gamestudio</a>
	</div>

	<div th:if="${@mainController.logged}">

		<h5>
			You are logged as <span
				th:text="${@mainController.loggedPlayer.name}"></span> <br> <a
				href="/logout">Logout</a>
		</h5>
	</div>
	<div th:if="${not @mainController.logged}">
		<h5>
			You are not logged. <br> Please <a href="/">log in</a>
		</h5>
	</div>
	</div>
	<h4>Mines</h4>
<div class= "gamecontainer">
	<a href="/mines"> NewGame </a>
	<br />


	<br />

	<div class="containerP">
		You are now <span th:if="${@minesController.marking}">MARKING</span> <span
			th:if="${not @minesController.marking}">OPENING</span> <br> <a
			href="/mines/change">click to here change</a><br />



		<div th:utext="${@minesController.htmlField}"></div>
<br>
<br>
	</div>
	<br>
</div>
<div class="container5">
		<div class="column2">
			<h3>Scores</h3>
			<table class="table table-striped table-dark">
				<thead>
					<tr>

						<th scope="col">Username</th>
						<th scope="col">Game</th>
						<th scope="col">Score</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="score : ${@minesController.scores}">

						<tr th:each="score : ${@minesController.scores}">
				<td><span th:text="${score.username}"></span></td>
						<td><span th:text="${score.game}"></span></td>
						<td><span th:text="${score.value}"></span></td>
					</tr></tbody>
			</table>
		</div>
	</div>

	


	<div class="column2">
		<h3>Raiting</h3>
		<div th:if="${not @mainController.logged}">
		<h5>
			If you want to rate, <br> please <a href="/">log in</a>
		</h5>
	</div>

			<form action="/mines/rating" th:if="${@mainController.logged}">

			<label><input type="radio" name="raiting" value="1"></label>
			<label><input type="radio" name="raiting" value="2"></label>
			<label><input type="radio" name="raiting" value="3"></label>
			<label><input type="radio" name="raiting" value="4"></label>
			<label><input type="radio" name="raiting" value="5"></label>



		<button type="submit">Submit your rating</button>
		</form>
		<div class="p-3 mb-2 bg-secondary text-white">
			<p>Average rating of the game:</p>
			<div th:text="${@puzzleController.averageRaiting}"></div>
		</div>

	</div>


	<div class="column2 comment">
		<h3>Comments</h3>
		<div th:if="${not @mainController.logged}">
		<h5>
			If you want to commment, <br>please <a href="/">log in</a>
		</h5>
	</div>
		
		<form action="/mines/comment"th:if="${@mainController.logged}">
			 <input type="text" name="content" placeholder="write a comment..."/> <input type="submit"
				value="Post" /> 
		</form>
		<div class="p-3 mb-2 bg-dark text-white">
			<ol>
				<li th:each="comment: ${@minesController.comment}"><span
					th:text="${comment.username}"></span><span
					th:text="${comment.game}"></span> <span
					th:text="${comment.content}"></span></li>
			</ol>
		</div>
	</div>


</body>

</html>
