<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<link rel="stylesheet" href="/style.css" type="text/css">
<title>Puzzle</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class= "header">
	
		<h1>
			<a class="gamestudio" href="/">Gamestudio</a>
		</h1>


	

	<div th:if="${not @mainController.logged}">
		<h5>
			You are not logged. <br> Please <a href="/">log in</a>
		</h5>
	</div>

	<div th:if="${@mainController.logged}">
		<h5>
			You are logged as <span
				th:text="${@mainController.loggedPlayer.name}"></span><br /> <a
				href="/logout">Logout</a>
		</h5>
	</div>
	</div>
	<h4>Puzzle</h4>

	<div class="gamecontainer">
		<br /> 
	


	<div class="containerP" th:if="${@puzzleController.solved}">
		You've solved the puzzle!<br /> <img src="/images/puzzle/puzzle.jpg" />
	</div>
<a href="/puzzle">New game</a> <br />
	<div class="containerP" th:if="${not @puzzleController.solved}">
		<div th:utext="${@puzzleController.htmlField}"></div>
	</div>

	<br>
</div>
		<div class="column2">
			<h3>Best Score</h3>
			<table class="table table-striped table-dark">
				<thead>
					<tr>

						<th scope="col">Username</th>
						<th scope="col">Game</th>
						<th scope="col">Score</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="score : ${@puzzleController.scores}">

						<tr th:each="score : ${@puzzleController.scores}">
				<td><span th:text="${score.username}"></span></td>
						<td><span th:text="${score.game}"></span></td>
						<td><span th:text="${score.value}"></span></td>
					</tr></tbody>
			</table>
		</div>
	

	<div class="column2">
		<h3>Rating</h3>

<div th:if="${not @mainController.logged}">
		<h5>
			You are not logged. <br> Please <a href="/">log in</a>
		</h5>
	</div>
		<form action="/puzzle/rating" th:if="${@mainController.logged}">

			<label for="1"><input type="radio" name="raiting" value="1"
				id="1"></label> <label><input type="radio" name="raiting"
				value="2"></label> <label><input type="radio" name="raiting"
				value="3"></label> <label><input type="radio" name="raiting"
				value="4"></label> <label><input type="radio" name="raiting"
				value="5"></label>



			<button type="submit">Submit your rating</button>
		</form>
		<div class="p-3 mb-2 bg-secondary text-white">
			<p>Average rating of the game:</p>
			<div th:text="${@puzzleController.averageRaiting}"></div>
		</div>

	</div>

	<div class="column2 comment">
		<h3>Comments</h3>


<div th:if="${not @mainController.logged}">
		<h5>
			You are not logged. If you want to commment, please <a href="/">log in</a>
		</h5>
	</div>

		<form action="/puzzle/comment" th:if="${@mainController.logged}">
			<input type="text" name="content" placeholder="write a comment..." />
			<input type="submit" value="Post" /> <br>
		</form>
		<div class="p-3 mb-2 bg-dark text-white">
			<ol>
				<li th:each="comment: ${@puzzleController.comment}"><span
					th:text="${comment.username}"></span><span
					th:text="${comment.game}"></span> <span
					th:text="${comment.content}"></span></li>
			</ol>
		</div>
	</div>


</body>
</html>
