<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<link rel="stylesheet" href="/style.css" type="text/css">
<title>Puzzle</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div class="w3-container w3-center ">
		<h1>Gamestudio</h1>
	</div>

	<h4>Puzzle</h4>

	<div th:if="${not @mainController.logged}">
		<h5>
			You are not logged. <br> Please <a href="/">log in</a>
		</h5>
	</div>

	<div th:if="${@mainController.logged}">
		<h5>
			You are logged as <span
				th:text="${@mainController.loggedPlayer.name}"></span><br /> <a
				href="/logout">Logout</a>
		</h5>
	</div>

	<div class="w3-container w3-center w3-allerta">
		<br /> <a href="/"> Menu </a> <br /> <a href="/puzzle">New game</a>

		<br />
	</div>


	<div class="containerP" th:if="${@puzzleController.solved}">
		You've solved the puzzle!<br /> <img src="/images/puzzle/puzzle.jpg" />
	</div>

	<div th:if="${not @puzzleController.solved}">
		<div th:utext="${@puzzleController.htmlField}"></div>
	</div>

	<br>
	<div class="container5">
		<div class="column2">
			<h3>Scores</h3>
			<ol>
				<li th:each="score : ${@puzzleController.scores}"><span
					th:text="${score.username}"></span> <span th:text="${score.game}"></span>
					<span th:text="${score.value}"></span></li>
			</ol>

		</div>

		<div class="column2" th:if="${@mainController.logged}">
			<h4>Raiting</h4>
			<form action="/puzzle/rating">

				<label for="1"><input type="radio" name="rating" value="1" id="1"></label>
					 <label><input type="radio" name="raiting"
					value="2"></label> <label><input type="radio"
					name="raiting" value="3"></label> <label><input
					type="radio" name="raiting" value="4"></label> <label><input
					type="radio" name="raiting" value="5"></label>



				<button type="submit">Submit</button>
			</form>



			<br>
			<form action="/puzzle/comment">
				Comment: <input type="text" name="content" /> <input type="submit"
					value="Send comment" /> <br> <br> <br>
			</form>

		</div>

		<div class="column2">
			<h4>Comments</h4>
			<br />
			<ol>
				<li th:each="comment: ${@puzzleController.comment}"><span
					th:text="${comment.username}"></span><span
					th:text="${comment.game}"></span> <span
					th:text="${comment.content}"></span></li>
			</ol>
		</div>

	</div>





</body>
</html>
