<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="/style.css" type="text/css">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<meta charset="utf-8">
<title>Gamestudio</title>
</head>
<body>
	<h1>Welcome to Game Studio!</h1>


	<div th:if="${not @mainController.logged}">
		<h4>Registration</h4>

		<form action="/registration/signin">

			<div class="info">
				Username:<input type="text" name="name" /> Password: <input
					type="password" name="passwd" />
					
			</div>
			<br>
			<div class="submit">
				
			</div>

		</form>
	</div>
<a href="/"> Menu </a>


	<div th:if="${@mainController.logged}">
		<h5>
			You are logged as <span
				th:text="${@mainController.loggedPlayer.name}"></span> <br> <a
				href="/logout">Logout</a>
		</h5>
	</div>

	



</body>
</html>